@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  font-family: Inter, serif;
  font-weight: 900;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #4B0082;
  background: -webkit-linear-gradient(to right, #4B0082, #330033);
  background: linear-gradient(-45deg, #4B0082, #330033, #1A0019, #9400D3);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite; */
}

/* @keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.blurry-gradient2 {
  z-index: -999999;
  position: absolute !important;
  top: 0;
  left: -110px;
  width: 500px;
  height: 500px;
  opacity: 0.5;
  animation: pulse, myMove 15.5s alternate infinite;
}


.blurry-gradient {
  z-index: -999999;
  position: absolute !important;
  bottom: 100px;
  right: 50px;
  width: 500px;
  height: 500px;
  opacity: 0.5;
  animation: pulse, myOrbit 15s alternate infinite;
}

@keyframes pulse {
  from {
    transform : scale(1);
    opacity   : 0.75;
  }
  50% {
    transform : scale(0.75);
    opacity   : 0.25;
  }
  to {
    transform : scale(1);
    opacity   : 0.55;
  }
}


@keyframes myOrbit {
  from { transform: rotate(0deg) translateX(150px) rotate(0deg); }
  to   { transform: rotate(360deg) translateX(220px) rotate(-360deg); }
}


@keyframes myMove {
  from { transform: rotate(0deg) translateX(150px) rotate(0deg) scale(1, 1); }
  to   { transform: rotate(0deg) translateX(220px) rotate(-360deg) scale(2, 0.5);  }
}

@media screen and (max-width: 1420px) {
  .main-container {
    margin: 0;
    padding: 0;
    border-radius: 0;
  }

  button {
    font-size: 0.36em;
  }

  img {    width: 244px;
  }
  .blurry-gradient2,
  .blurry-gradient {
    visibility: hidden;
    display: none;
  }
} */